<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Strecken</string>
		<string>Das Bild wird bis zur gewünschten Größe gestreckt. Dabei kann das originale Seitenverhältnis verloren gehen.</string>
	</array>
	<array>
		<string>Anpassen &amp; Kleiner</string>
		<string>Das Bild wird unter Beibehaltung des originalen Seitenverhältnis vergrößert/verkleinert bis es in die gewünschte Größe hineinpasst.</string>
	</array>
	<array>
		<string>Füllen &amp; Abschneiden</string>
		<string>Das Bild wird unter Beibehaltung des originalen Seitenverhältnis vergrößert/verkleinert bis es die gewünschte Größe füllt. Dabei können Teile des Bildes abgeschnitten werden.</string>
	</array>
</array>
</plist>
