<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Strecken</string>
		<string>Das Bild wird bis zu gewünschten Größe gestreckt, dabei kann das Seitenverhältnis verlohren gehen.</string>
	</array>
	<array>
		<string>Anpassen &amp; Kleiner</string>
		<string>Das Bild wird unter Beibehaltung des Seitenverhältnis vergrößert/verkleinert bis es in die gewünschte Größe hineinpast.</string>
	</array>
	<array>
		<string>Füllen &amp; Abschneiden</string>
		<string>Das Bild wird unter Beibehaltung des Seitenverhältnis vergrößert/verkleinert bis es die gewünschte Größe füllt. Teile des Bildes können dabei abgeschnitten werden.</string>
	</array>
</array>
</plist>
