<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Link to the image</string>
		<key>url</key>
		<string>$B$/image.php?img=$I$</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Direct link</string>
		<key>url</key>
		<string>$B$/img/$I$</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thumbnail for forums 1</string>
		<key>url</key>
		<string>[url=$B$/image.php?img=$I$][img]$B$/thumb/$I$[/img][/url]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thumbnail for forums 2</string>
		<key>url</key>
		<string>[url=$B$/image.php?img=$I$][img=$B$/thumb/$I$][/url]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thumbnail for HTML</string>
		<key>url</key>
		<string>&lt;a href=&quot;$B$/image.php?img=$I$&quot;&gt;&lt;img src=&quot;$B$/thumb/$I$&quot; alt=&quot;$$I$&quot; /&gt;&lt;/a&gt;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thumbnail for Markdown</string>
		<key>url</key>
		<string>[![Image $I$ from abload.de]($B$/thumb/$I$)]($B$/image.php?img=$I$)</string>
	</dict>
</array>
</plist>
