<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Stretch</string>
		<string>The image gets stretched to the chosen size. The original aspect ratio can get lost.</string>
	</array>
	<array>
		<string>Aspect Fit</string>
		<string>The size of the image is increased or decreased while retaining the original aspect ratio till it fits the chosen size.</string>
	</array>
	<array>
		<string>Aspect Fill</string>
		<string>The size of the image is increased or decreased till it fills out the chosen size. Parts of the image might get cut.</string>
	</array>
</array>
</plist>
